@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

button, a, label{
    cursor: pointer;
}

img{
    object-fit: cover;
    object-position: 50% 0%;
}

#content{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#height{
    height: 450vh;
}

.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:5%
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 2.5s;
    z-index: 1;
}

#content>div>*{

}

.contanier{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    text-align: center;
    transform: translateY(-50%);
    left: 10%;
    top: 50%
}

.contanier h1{
    font-size: 5rem;
    letter-spacing: 0.3rem;
}

.contanier h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.contanier2{
    width: 30%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateY(-50%);
    right: 10%;
    top: 50%
}

.contanier2 img{
    width: 100%;
    height: 100%;
}

#content1{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.2s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
#img1{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: center;
    border-radius: 1vw;
    opacity: 0.7 !important;
}

#content1 .background{

}

button{
    border: none;
}

#content1 button p{
    z-index: 1000;
    position: relative;
}

#content1 button{
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    transition: 0.2s;
    overflow: hidden;
    position: relative;
}

#content1 button:hover{
    background-color: rgba(255, 255, 255, 1);
}

#content1 button::before{
    z-index: 1;
    position: absolute;
    content: "";
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: #db7777;
    transition: 0.4s;
}

#content1 button:hover:before{
    background-color: #d53f3f;
}
#content1 button:active:before{
    background-color: #eea4a4;
}


button:hover{
    cursor: pointer;
    background-color: transparent;
    color: black;
    background-color: white;
}
#content1>*:not(.background){
    transition: 0.5s;
    opacity: 0;
}

#content2{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.2s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 39, 68);
}

#content2>.contanier{
    color: white
}

#content2>*:not(.background){
    transition: 0.5s;
    opacity: 0;
}

#content2 .contanier2{
    right: 0%;
    bottom: 50%
}

#content2 .btn-box{
    display: flex;
    flex-direction: column;
}

#content2 button{
    height: 15rem;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15rem;
    color: white;
    transform: translateY(-20%)
}

#content2 button:hover{
    color: rgba(255, 255, 255, 0.3);
}

#content2 p{
    color: white;
}

#content3{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.2s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(38, 13, 0);
}

#content3>.contanier{
    color: white;
}

#content3>*:not(.background){
    transition: 0.5s;
    opacity: 0;
}

#content3 .contanier2{
    right: 0%;
    bottom: 50%
}

#content3 .btn-box{
    display: flex;
    flex-direction: column;
}

#content3 button{
    height: 15rem;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15rem;
    color: white;
    transform: translateY(-20%)
}

#content3 button:hover{
    color: rgba(255, 255, 255, 0.3);
}

#content4{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.2s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}

#content4>*:not(.background){
    transition: 0.5s;
    opacity: 0;
}

#content5{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.2s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(61, 1, 1);
}

#content5>.contanier{
    color: rgb(255, 255, 255);
}

#content5>*:not(.background){
    transition: 0.5s;
    opacity: 0;
}

@media screen and (max-width:930px) {   

    #content1, #content2, #content3, #content4, #content5{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30% 0;
        gap: 10%;
    }
    
    .contanier{
        width: 70%;
        position: static;
        transform: none;
        z-index: 2;
    }

.contanier h1{
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.contanier h2{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.contanier p{
    font-size: 0.6rem;
}

.contanier2{
    width: 50%;
    position: static;
    transform: none;
    z-index: 2;
}

.btn-box{
    display: flex;
    justify-content: space-around;
}

button{
    width: 100%;
    text-align: center;
}

}