*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    max-width: 85rem;
    margin: auto;
    padding: 2.5rem 10%;
}

.title{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 0.8vw;
}

.title img{
    width: 15rem;
    height: 10rem;
    object-fit: contain;
    object-position: center;
}

.content{
    display: flex;
    justify-content: space-between;
}

.explanation{
    width: 30%;
    transition: .3s;
    overflow: hidden;
    padding: 3%;
    border-radius: 4%;
    border: 1px solid rgb(202, 202, 202);
    margin: 3rem 0;
}

.explanation:hover{
    border-bottom: 5px solid rgb(202, 202, 202);
    border-left: 5px solid rgb(202, 202, 202);
}

.explanation img{
    width: 100%;
    max-height: 10rem;
    margin-bottom: .5rem;
    object-fit: contain;
}

.explanation>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanation li{
    margin: 1rem;
    font-size: 0.8vw;
}

.explanation h2{
    font-size: 1vw;
    margin-bottom: 0.5vw;
}

.explanation p{
    font-size: 0.6vw;
}